.titulo-artistico {
    font-family: 'Pacifico', cursive;
    color: #8B4513;
}

.btn-chocolate {
    background-color: #8B4513 !important;
    color: #FFF5E1 !important;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.btn-chocolate:hover {
    background-color: #FFC0CB !important;
    color: #5D4037 !important;
}

.form-control:focus {
    border-color: #FFC0CB;
    box-shadow: 0 0 0 0.25rem rgba(255, 192, 203, 0.25);
}