.border-rosa {
    border: 5px solid #FFC0CB; /* Acento Rosa Suave solicitado [cite: 73] */
}

.dev-avatar {
    font-size: 3rem;
    background-color: #FFF5E1; /* Fondo Crema [cite: 71] */
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    border: 2px solid #8B4513; /* Chocolate [cite: 73] */
}

.bg-white {
    background-color: #ffffff !important;
}